<!DOCTYPE html>
<html>
<head>
    <title>Lofranco - Technical Exam</title>
    <link rel="stylesheet" href="./assets/css/index.css">
    <link rel="icon" type="image/x-icon" href="./assets/img/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/4c890c6a79.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <div class="dropdown position-absolute" id="dropdown">
            <a class="dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-brands fa-youtube justify-content-center align-item-center"></i>
                <span id="channelText">Channels</span>
            </a>
            
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li v-for="channel in channels" :key="channel.id">
                    <a class="dropdown-item" @click="selectChannel(channel)" href="#">{{ channel.channel_name }}</a>
                </li>
            </ul>
        </div>

        <div v-if="channelsSelected" class="channel-wrapper text-white">
            <img :src="channelsSelected.profile_pic" class="channel-img" draggable="false">

            <div class="channel-text">
                <p class="channel-name pb-3">{{ channelsSelected.channel_name }}</p>
                <p class="channel-desc">{{ channelsSelected.description }}</p>
            </div>
        </div>

        <div class="top-header text-black fw-bolder">
            <img src="./assets/img/yt.svg" alt="" draggable="false">
            <p>Videos</p>
        </div>

        <div>
            <div v-for="(video, count) in paginatedVideos" class="content rounded-3">
                <div v-if="videoSelected">
                    <div v-if="videoSelected.channel_id === video.channel_id"></div>
                    <span class="video-number fs-5 fw-bolder">{{ count + 1 + (currentPage * videosPerPage) }}</span>
        
                    <div class="video-wrapper text-black">
                        <img :src="video.video_thumbnail" :alt="video.video_thumbnail" class="thumbnail" draggable="false">
        
                        <div class="video-text">
                            <p class="video-name fw-bolder" v-html="video.video_title"></p>

                            <p class="video-desc">{{ video.video_desc }}</p>
        
                            <div class="play-btn-wrapper">
                                <a :href="video.video_link" class="play-btn" target="_blank" rel="noopener noreferrer">
                                    <i class="fa-solid fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
            
        <nav v-if="totalPages > 1" class="my-5 mx-24 flex justify-content-center">
            <ul class="pagination justify-content-center">
                <li class="page-item" :class="{ 'disabled': currentPage === 0 }">
                    <a @click="changePageWithScroll(currentPage - 1)" class="page-btn page-link p-3" href="#" tabindex="-1">
                        <i class="fa-solid fa-chevron-left"></i>
                    </a>
                </li>
        
                <li v-for="pageNumber in totalPages" class="page-item">
                    <a @click="changePageWithScroll(pageNumber - 1)" :class="currentPage === pageNumber - 1" class="page-btn page-link p-3 text-base" :href="'#page' + (pageNumber)">
                        {{ pageNumber }}
                    </a>
                </li>
        
                <li class="page-item" :class="{ 'disabled': currentPage === totalPages - 1 }">
                    <a @click="changePageWithScroll(currentPage + 1)" class="page-btn page-link p-3" href="#">
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</body>

<script>
    new Vue({
        el: '#app',
        data: {
            channels: [],
            videos: [],
            channelsSelected: [],
            videoSelected: [],
            videosPerPage: 20,
            currentPage: parseInt(localStorage.getItem('currentPage')) || 0,
        },
        computed: {
            totalPages() { return Math.ceil(100 / this.videosPerPage); },
            paginatedVideos() {
                const start = this.currentPage * this.videosPerPage;
                const end = start + this.videosPerPage;
                return this.videos.slice(start, end);
            },
        },
        mounted() {
            axios.get(`youtube_channel_json.php`)
                .then(response => {
                    const channelData = response.data.youtube_channels.find(channel => channel.id === 1);
                    const videoData = response.data.youtube_channel_videos.find(video => video.channel_id === 1);
                    if (channelData || videoData) {
                        this.channelsSelected = channelData;  this.videoSelected = videoData;
                        this.channels = response.data.youtube_channels;
                        this.videos = response.data.youtube_channel_videos;
                    }
                })
                .catch(error => { console.error(error); });

            window.addEventListener('beforeunload', () => {
                localStorage.setItem('currentPage', 0);
            });
        },
        methods: {
            selectChannel(channel) {
                const id = channel.id;
                
                axios.get(`youtube_channel_json.php`)
                .then(response => {
                    const channelData = response.data.youtube_channels.find(channel => channel.id === id);
                    const videoData = response.data.youtube_channel_videos.find(video => video.channel_id === id);
   
                    if (channelData) {
                        this.channelsSelected = channelData; this.videoSelected = videoData;
                        this.videos = response.data.youtube_channel_videos.filter(video => video.channel_id === id);
                    }
                })
                .catch(error => { console.error(error); });
            },
            prevPage() {
                if (this.currentPage > 0) { this.currentPage--; }
            },
            nextPage() {
                if (this.currentPage < this.totalPages - 1) { this.currentPage++; }
            },
            changePageWithScroll(pageNumber) {
                if (pageNumber >= 0 && pageNumber < this.totalPages) {
                    this.currentPage = pageNumber;
                    localStorage.setItem('currentPage', pageNumber);
                    this.scrollToTop();
                }
            },
            scrollToTop() {
                window.scroll({
                    top: 0,
                    behavior: "smooth"
                });
            }
        },
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</html>
